!!! 5
//- Internet Explorer 4,5&6
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
//- Internet Explorer 7
//if IE 7
	<html class="no-js lt-ie9 lt-ie8"> 
//- Internet Explorer 8
//if IE 8
	<html class="no-js lt-ie9">
//- Internet Explorer 9+ & other browsers
//[if gt IE 8]><!
html(lang="en", class="no-js")
	//<![endif]
	head
		meta(charset='utf-8')
		title ShareBeat
		meta(name='description', content='')
		meta(name='HandheldFriendly', content='true')
		meta(name='MobileOptimized', content='320')
		meta(name='viewport', content='width=device-width, maximum-scale=1')
		meta(name='author', content='gomozen')
		
		meta(property='og:type', content='website')
		meta(property='og:title', content='ShareBeat')
		meta(property='og:site_title', content='ShareBeat Synchronized Synthesizer')
		meta(property='og:url', content='')
		meta(property='og:image', content='')
		meta(property='fb:app_id', content='')
		meta(property='fb:page_id', content='')
		meta(property='twitter:card', content='')
		meta(property='twitter:title', content='')
		meta(property='twitter:description', content='')
		meta(property='twitter:image', content='')
		meta(name='description', content='Synchronized Synthesizer')
		
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='canonical', href='')
		link(rel='alternate', type='application/rss+xml', title='', href='')
		link(rel='foaf:primaryTopic', type='application/rdf+xml', title='FOAF', href='/foaf.rdf')
		link(rel='author', type='text/plain', href='/humans.txt')
		link(rel='author', href='')
		link(rel='image_src', href='')
		link(rel='stylesheet', href='assets/css/styles.css')
		<!--[if lt IE 9]>
		script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		
	body

		//if lt IE 7
			p.browsehappy
				| You are using an <strong>outdated</strong> browser.
				| Please <a href="http://browsehappy.com/">upgrade your browser</a>
				| to improve your experience.

		header
			h1 ShareBeat
			h2 Synchronized Synthesizer
		
		#content	
			
			#matrix
				header
				h3 You need a recent decent browser to use this app
			


		footer
		
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.2/easing/EasePack.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.2/TweenLite.min.js')
		script(src='https://cdn.firebase.com/v0/firebase.js')
		script(src='assets/js/sharebeat.js')