@import url(mixins/3L.less);
@import url(mixins/b.less);


// Colours
@blue:rgb( 170, 36, 22 );
@green:rgb( 210, 208, 67 );
@brown:rgb( 16, 17, 12 );
@orange:rgb( 205, 111, 21 );
@grey:rgb( 220, 207, 152 );

@translucent:rgba( 212, 229, 215, 0.9 );
@translucent-dark:rgba( 56, 144, 163, 0.6 );
@transparent:rgba( 0, 0, 0, 0 );

@userA:@blue;
@userB:#B59E3E;//lighten( @blue, 20% );
@userC:#347D3E;//lighten( @blue, 40% );
@userD:#5F4A69;//lighten( @blue, 60% );


@background:@grey;
@accent:@orange;
@button:@orange;
@copy:@brown;
@highlight:@green;
@dark:@brown;
@light:#efefef;
@error:@orange;
@action:@blue;
@links:@blue;

@shadow:#000000;


@gap:1px;

@steps:16;
@keys:16;


.normalize();
@import url(typography.less);


body{
	position:relative;
	
	width:100%;
	min-height:100%;
	height:100%;
	
	
	color:@grey;
	background-color:@brown;
	//background-image:url( "@{jpgs}clouds.jpg" );
	//background-repeat:no-repeat;
	//background-position:top center;

}

header, footer{
	.visuallyhidden();
}

.selection( @brown,@green );

// square of squares
@box-width : 100 / @steps;
@box-height : 100 / @keys;


#content{
	width:100%;
	margin:auto;
}

#matrix{
	max-width: 1600px;
	margin: 40px;
	padding: 0;
	overflow: hidden;
	position:relative;
	
	
	.progress{
		@size : @box-width + 0%;
		width: @size;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		background-color:fadeout(@green, 50%);
		height:100%;
		display:block;
		.transition (all 0.2s);
		//padding: 40px;
	}
}

article{
	
	border:1px @brown thin;
	
	@size : @box-width + 0%;
	background-color:@grey;
	text-decoration:none;
	.transition (all 0.2s);
	
	float: left;
	width: @size;
	padding-bottom: @size;
	height: auto;
	
	// z
	//max-height:@size;
	//margin: 20px 2% 0 0;
	
	.button();
	
	position: relative;
	top: 0;
	overflow: hidden;
	display:block;
	
	.over,
	&:hover{
		background-color:@orange;
		color:darken( @links , 20% );
		text-decoration:none;
	}
	
	img { 
		max-width: 100%; 
	}

}

article.selected{
	z-index:999;
	background-color:@green;
	&:hover{
		background-color:@blue;
		color:darken( @links , 20% );
		text-decoration:none;
	}
}
article.userA{
	background-color:@userA;
	&:hover{
		background-color:@blue;
		color:darken( @links , 20% );
		text-decoration:none;
	}
}
article.userB{
	background-color:@userB;
	&:hover{
		background-color:@blue;
		color:darken( @links , 20% );
		text-decoration:none;
	}
}
article.userC{
	background-color:@userC;
	&:hover{
		background-color:@blue;
		color:darken( @links , 20% );
		text-decoration:none;
	}
}
article.userD{
	background-color:@userD;
	&:hover{
		background-color:@blue;
		color:darken( @links , 20% );
		text-decoration:none;
	}
}

// user A
article.userA.userB{
	@c : mix(@userA,@userB);
	background-color:@c;
}
article.userA.userC{
	@c : mix(@userA,@userC);
	background-color:@c;
}
article.userA.userD{
	@c : mix(@userA,@userD);
	background-color:@c;
}
article.userA.userB.userC{
	@c : mix(@userA,@userB);
	@d : mix(@c,@userC);
	background-color:@d;
}
article.userA.userB.userD{
	@c : mix(@userA,@userB);
	@d : mix(@c,@userD);
	background-color:@d;
}
article.userA.userC.userD{
	@c : mix(@userA,@userC);
	@d : mix(@c,@userD);
	background-color:@d;
}
article.userA.userB.userC.userD{
	@c : mix(@userA,@userB);
	@d : mix(@userD,@userC);
	@e : mix(@c,@d);
	
	background-color:@e;
}

//

article.userA.userB.userC.userD{
	@c : mix(@userA,@userB);
	background-color:@c;
}


div, h2 { 
	position: absolute;
}


	
/* Font Size Control Media Queries */

@media screen and (min-width:500px) {
	h1, h2, h3 { font-size: 2em; }
	p { font-size: 1em; line-height: 1.2; }
}
@media screen and (min-width:600px) {
	h1, h2, h3 { font-size: 2.5em; }
}
@media screen and (min-width:700px) {
	h1, h2, h3 { font-size: 3em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:800px) {
	h1, h2, h3 { font-size: 2.5em; }
	p { font-size: 1em; }
}
@media screen and (min-width:1000px) {
	h1, h2, h3 { font-size: 3.25em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:1200px) {
	p { font-size: 1em; }
}
@media screen and (min-width:1400px) {
	p { font-size: 1.25em; }
}
@media screen and (min-width:1600px) {
	h1, h2, h3 { font-size: 4em; }
}

