/*

A collection of useful mixins that are very useful when
architecturing sites and creating complex layouts. 

Simply add as a class mixin to your own selectors.

Contains work from : 

* html5BoilerPlate - 
* 3L.Less 	- mateuszkocz.github.io/3l
* Preboot 	- github.com/mdo/preboot
* Normalize - 
* Reset 	- 
* Clearfix 	- 
* Pure CSS 	- pure.io

As well as input from : 
* Denis Leblanc - denisleblanc.com/
* - www.sitepoint.com/eight-definitive-font-stacks/
*/
/*
// Defaults which you can freely override
@column-width: 60;
@gutter-width: 20;
@columns: 12;

// Utility variable — you should never need to modify this
@gridsystem-width: (@column-width*@columns) + (@gutter-width*@columns) * 1px;

// Set @total-width to 100% for a fluid layout
@total-width: @gridsystem-width;
@total-width: 100%;

body() {
	width: 100%;
	.clearfix;
}

.row( @columns:@columns ) {
	display: block;
	width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width);
	margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1);
	// *width: @total-width*((@gutter-width + @gridsystem-width)/@gridsystem-width)-@correction;
	// *margin: 0 @total-width*(((@gutter-width*.5)/@gridsystem-width)*-1)-@correction;
	.clearfix;
}
.column( @x,@columns:@columns ) {
	display: inline;
	float: left;
	width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width);
	margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width);
	// Prevent columns from collapsing when empty
	min-height: 1px;
	// *width: @total-width*((((@gutter-width+@column-width)*@x)-@gutter-width) / @gridsystem-width)-@correction;
	// *margin: 0 @total-width*((@gutter-width*.5)/@gridsystem-width)-@correction;
}

.push( @offset:1 ) {  	margin-left: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);}
.pull( @offset:1 ) {	margin-right: @total-width*(((@gutter-width+@column-width)*@offset) / @gridsystem-width) + @total-width*((@gutter-width*.5)/@gridsystem-width);}
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
body {
  line-height: 1.5;
  font-size: 16px;
}
h1 {
  font-size: 64px;
  font-size: 4rem;
  line-height: 0.75;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
h4 {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
h6 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
a.close,
ul.social li a {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
ul h5,
li {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.7143;
}
html,
body,
textarea {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
i,
h1,
h2,
h3,
h4,
small,
textarea,
button,
li,
p {
  font-weight: 300;
}
strong,
em,
b,
html,
body,
textarea,
h5,
h6,
a,
section.details ul li {
  font-weight: 600;
}
ul.awards h5,
a.close {
  font-weight: 700;
}
textarea,
em {
  font-style: italic;
}
a.close {
  letter-spacing: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
#contact h4 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
html {
  width: 100%;
  height: 100%;
  display: bock;
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: block;
  color: #dccf98;
  background-color: #10110c;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
body.sine {
  background-color: #390c07;
}
body.drums {
  background-color: #564b1d;
}
body.bass {
  background-color: #0f2311;
}
body.saw {
  background-color: #1b151e;
}
header,
footer {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
::-moz-selection {
  color: #10110c;
  background-color: #10110c;
}
::selection {
  color: #10110c;
  background-color: #10110c;
}
::-moz-selection {
  color: #10110c;
  background-color: #10110c;
}
::selection {
  color: #10110c;
  background-color: #10110c;
}
#content {
  width: 100%;
  margin: auto;
}
#matrix {
  max-width: 1600px;
  margin: 40px;
  padding: 0;
  overflow: hidden;
  position: relative;
}
#matrix .progress {
  width: 6.25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(210, 208, 67, 0.5);
  height: 100%;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body.loading {
  background-color: #dccf98;
  background-image: url("../img/gif/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
}
body.loading #matrix {
  visibility: hidden;
}
article {
  border-right: 1px #10110c thin;
  background-color: #dccf98;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  float: left;
  width: 6.25%;
  padding-bottom: 6.25%;
  height: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: ;
  -moz-user-select: ;
  -ms-user-select: ;
  user-select: ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 0;
  overflow: hidden;
  display: block;
}
article::-moz-focus-inner {
  padding: 0;
  border: 0;
}
article:hover {
  text-decoration: none;
}
article:focus {
  text-decoration: none;
  outline: 0;
}
article .over,
article:hover {
  background-color: #cd6f15;
  color: #50110a;
  text-decoration: none;
}
article img {
  max-width: 100%;
}
article.selected {
  z-index: 999;
  background-color: #d2d043;
}
article.selected:hover {
  background-color: #aa2416;
  color: #50110a;
  text-decoration: none;
}
article.userA {
  background-color: #aa2416;
}
article.userA:hover {
  background-color: #aa2416;
  color: #50110a;
  text-decoration: none;
}
article.userB {
  background-color: #b59e3e;
}
article.userB:hover {
  background-color: #aa2416;
  color: #50110a;
  text-decoration: none;
}
article.userC {
  background-color: #347d3e;
}
article.userC:hover {
  background-color: #aa2416;
  color: #50110a;
  text-decoration: none;
}
article.userD {
  background-color: #5f4a69;
}
article.userD:hover {
  background-color: #aa2416;
  color: #50110a;
  text-decoration: none;
}
article.userA.userB {
  background-color: #b0612a;
}
article.userA.userC {
  background-color: #6f512a;
}
article.userA.userD {
  background-color: #853740;
}
article.userA.userB.userC {
  background-color: #726f34;
}
article.userA.userB.userD {
  background-color: #87564a;
}
article.userA.userC.userD {
  background-color: #674d4a;
}
article.userA.userB.userC.userD {
  background-color: #7d623f;
}
article.userA.userB.userC.userD {
  background-color: #b0612a;
}
div,
h2 {
  position: absolute;
}
/* Font Size Control Media Queries */
@media screen and (min-width: 500px) {
  h1,
  h2,
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
    line-height: 1.2;
  }
}
@media screen and (min-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 700px) {
  h1,
  h2,
  h3 {
    font-size: 3em;
  }
  p {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 800px) {
  h1,
  h2,
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  h1,
  h2,
  h3 {
    font-size: 3.25em;
  }
  p {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 1em;
  }
}
@media screen and (min-width: 1400px) {
  p {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1600px) {
  h1,
  h2,
  h3 {
    font-size: 4em;
  }
}
