@import url(mixins/3L.less);
@import url(mixins/b.less);


// Colours
@blue:rgb( 170, 36, 22 );
@green:rgb( 210, 208, 67 );
@brown:rgb( 16, 17, 12 );
@orange:rgb( 205, 111, 21 );
@grey:rgb( 220, 207, 152 );

@translucent:rgba( 212, 229, 215, 0.9 );
@translucent-dark:rgba( 56, 144, 163, 0.6 );
@transparent:rgba( 0, 0, 0, 0 );

@userA:@blue;
@userB:#B59E3E;//lighten( @blue, 20% );
@userC:#347D3E;//lighten( @blue, 40% );
@userD:#5F4A69;//lighten( @blue, 60% );


@background:@grey;
@accent:@orange;
@button:@orange;
@copy:@brown;
@highlight:@green;
@dark:@brown;
@light:#efefef;
@error:@orange;
@action:@blue;
@links:@blue;

@shadow:#000000;


@gap:1px;

@steps:16;
@keys:16;


.reset();

html{
	width:100%;
	height:100%;
	display:block;
}

body{
	position:relative;
	
	width:100%;
	min-height:100%;
	height:100%;
	display:block;
	
	color:@grey;
	background-color:@brown;
	//background-image:url( "@{jpgs}clouds.jpg" );
	//background-repeat:no-repeat;
	//background-position:top center;
	.transition (background-color 0.4s);
}

body.error{	
	background-color: darken(@error, 25% ); 
}

body.loading{
	background-color:@grey;
	background-image:url("../images/gif/loader.gif");
	background-position:center;
	background-repeat:no-repeat;
	
	#matrix{
		visibility:hidden;
	}
}

header{
	.visuallyhidden();
}

footer{
	user-select:noine;
}

a{
	text-decoration:none;
	&:hover{
		text-decoration:none;
	}
}

// Configurable for each instrument type
.body-action( @colour; @wallpaper; @progress ){
	
	@bg:mix( @light,@wallpaper );
	
	background-color: @wallpaper; 
	::-moz-selection{ background-color: @bg}
	::selection{ background-color:@bg }
	
	.sequencer--step{
		//border:transparent solid 2px;
		background-color:lighten(@bg,5%);
		&:nth-child(odd) {
			background-color:darken(@bg, 5%);
		}
		// hover state	
		&.over,
		&:hover{
			background-color:mix( @orange, @colour );
			color:darken( @links , 20% );
			
			//border:@colour solid 2px;
		}
	}
	
	// User is over
	.sequencer--step.selected{
		z-index:999;
		background-color:@colour;
		&.over,
		&:hover{
			background-color:@colour;
			color:darken( @links , 20% );
			
		}
	}
	
	// Step has just been triggered
	.sequencer--step.activated{
		
		/*
		background-color:lighten( @colour , 20% );
		
		&:hover{
			background-color:@colour;
			color:darken( @links , 20% );
			
		}*/
		
		// display: inline-block;
		//vertical-align: middle;
		//transform: translateZ(0);
		animation-name: pop;
		animation-duration: 0.4s;
		animation-timing-function: ease-out;
		animation-iteration-count: 1;
	}
	
	footer{
		color:@colour;
	}
	.progress{
		background-color:fadeout(@progress, 50%);
	}
}


// Simple sine wave
body.sine{	
	.body-action( @userA, @green,@orange );
}

body.drums{	
	.body-action( @userB, @orange, @green);
}

body.bass{	
	.body-action( @userC, @green,@green );
}
body.saw{	
	.body-action( @userD, @brown ,@green);
}

.sequencer--step{
	
	border-right:1px @brown thin;
	
	@size : @box-width + 0%;
	text-decoration:none;
	.transition (all 0.2s);
	
	float: left;
	width: @size;
	padding-bottom: @size;
	height: auto;
	
	// z
	//max-height:@size;
	//margin: 20px 2% 0 0;
	
	.button();
	
	position: relative;
	top: 0;
	overflow: hidden;
	display:block;
	
	
	img { 
		max-width: 100%; 
	}
}

.drums .sequencer--step{
	border-radius:50%;
}

// Specififc Overrides
body.sine,
body.saw,
body.drums,
body.bass{
	
	.sequencer--step.userA{
		background-color:@userA;
		&:hover{
			background-color:@blue;
			color:darken( @links , 20% );
			text-decoration:none;
		}
	}
	.sequencer--step.userB{
		background-color:@userB;
		&:hover{
			background-color:@blue;
			color:darken( @links , 20% );
			text-decoration:none;
		}
	}
	.sequencer--step.userC{
		background-color:@userC;
		&:hover{
			background-color:@blue;
			color:darken( @links , 20% );
			text-decoration:none;
		}
	}
	.sequencer--step.userD{
		background-color:@userD;
		&:hover{
			background-color:@blue;
			color:darken( @links , 20% );
			text-decoration:none;
		}
	}




	// These are mixed colours.
	// Where for example there may be multiple active nodes at this location

	// user A
	.sequencer--step.userA.userB{
		@c : mix(@userA,@userB);
		background-color:@c;
	}
	.sequencer--step.userA.userC{
		@c : mix(@userA,@userC);
		background-color:@c;
	}
	.sequencer--step.userA.userD{
		@c : mix(@userA,@userD);
		background-color:@c;
	}
	.sequencer--step.userA.userB.userC{
		@c : mix(@userA,@userB);
		@d : mix(@c,@userC);
		background-color:@d;
	}
	.sequencer--step.userA.userB.userD{
		@c : mix(@userA,@userB);
		@d : mix(@c,@userD);
		background-color:@d;
	}
	.sequencer--step.userA.userC.userD{
		@c : mix(@userA,@userC);
		@d : mix(@c,@userD);
		background-color:@d;
	}
	.sequencer--step.userA.userB.userC.userD{
		@c : mix(@userA,@userB);
		@d : mix(@userD,@userC);
		@e : mix(@c,@d);
		
		background-color:@e;
	}

	//

	.sequencer--step.userB.userC{
		@c : mix(@userB,@userC);
		background-color:@c;
	}
	.sequencer--step.userB.userD{
		@c : mix(@userB,@userD);
		background-color:@c;
	}





}


#content{
	width:100%;
	margin:auto;
}

// square of squares
@box-width : 100 / @steps;
@box-height : 100 / @keys;


#matrix{
	max-width: 1600px;
	margin: 20px 40px;
	padding: 10px 0;
	overflow: hidden;
	position:relative;
	
	
	.progress{
		@size : @box-width + 0%;
		width: @size;
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		height:100%;
		display:block;
		pointer-events : none;
		.transition (all 0.2s);
		//padding: 40px;
		border-radius:3px;
	}
}

footer{
	position:absolute;
	bottom:0;
	text-align:center;
	display:block;
	text-transform:uppercase;
	width:100%;
}






div, h2 { 
	position: absolute;
}

@import url(typography.less);
@import url(share.less);
@import url(anims.less);


/* Font Size Control Media Queries */

@media screen and (min-width:500px) {
	h1, h2, h3 { font-size: 2em; }
	p { font-size: 1em; line-height: 1.2; }
}
@media screen and (min-width:600px) {
	h1, h2, h3 { font-size: 2.5em; }
}
@media screen and (min-width:700px) {
	h1, h2, h3 { font-size: 3em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:800px) {
	h1, h2, h3 { font-size: 2.5em; }
	p { font-size: 1em; }
}
@media screen and (min-width:1000px) {
	h1, h2, h3 { font-size: 3.25em; }
	p { font-size: 1.25em; }
}
@media screen and (min-width:1200px) {
	p { font-size: 1em; }
}
@media screen and (min-width:1400px) {
	p { font-size: 1.25em; }
}
@media screen and (min-width:1600px) {
	h1, h2, h3 { font-size: 4em; }
}