extends partials/base

block content

	header
		h3 You need a recent decent browser to use this app
		h4 If things aren't working, try <a href="http://browsehappy.com/">Chrome</a>
		
	ul#matrix
	
	

block footer
	#share
